* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 87.5%;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

body {
  background-color: #fafafa;
}

input,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: #124874;
}
